# oppgave 6
Vi ønsker å lage et query i SQL som finner hvilke forestillinger som har solgt
best. Skriv ut navn på forestilling og dato og antall solgte plasser sortert på
antall plasser i synkende rekkefølge.

In [1]:
import sqlite3
import pandas as pd
from tabulate import tabulate
from utils import get_file_name_of_newest_database

name = get_file_name_of_newest_database()
conn = sqlite3.connect(name)
cursor = conn.cursor()

In [2]:

# hent alle billetter join med billetttype og groupe by ForestillingNummer og tell antall
# det er viktig at vi først grupere etter teaterstykke og forestillingnummer og så teller antall 
# sql gruperer etter den etter tur. Vi vil ikke grupere forestillinger med samme nummer til forskjellige teaterstykker
query = """
SELECT Forestilling.TeaterStykkeNavn, Forestilling.dato , COUNT(Billett.ForestillingNummer) as 'Antall solgte plasser'
FROM Billett
JOIN BilletType ON Billett.Billettype = BilletType.type AND Billett.TeaterStykkeNavn = BilletType.TeaterStykkeNavn
JOIN Forestilling ON (Billett.ForestillingNummer = Forestilling.Nummer AND Billett.TeaterStykkeNavn = Forestilling.TeaterStykkeNavn)
Group by Billett.TeaterStykkeNavn, Billett.ForestillingNummer
"""

cursor.execute(query)
forestillinger = cursor.fetchall()
print(tabulate(forestillinger, headers= ["Teaterstykke", "Dato", "Antall solgte plasser"], tablefmt="grid"))

+-------------------------------+------------+-------------------------+
| Teaterstykke                  | Dato       |   Antall solgte plasser |
+===============================+============+=========================+
| Kongsemnene                   | 2024-02-03 |                      65 |
+-------------------------------+------------+-------------------------+
| Størst av alt er kjærligheten | 2024-02-03 |                      36 |
+-------------------------------+------------+-------------------------+