In [1]:
import sqlite3
import pandas as pd
from tabulate import tabulate

In [2]:
import os

def generate_new_database_filename():
    base_name = "database"
    counter = 1

    # Increment counter until a new file name is found
    while os.path.exists(f"{base_name}{counter}.db"):
        counter += 1

    return f"{base_name}{counter}.db"

name = generate_new_database_filename()
conn = sqlite3.connect(name)

In [3]:
cursor = conn.cursor()

In [4]:
tables = cursor.fetchall()

# drop all tables in the database
for table in tables:
    cursor.execute(f"DROP TABLE {table[0]}")
conn.commit()

In [5]:
# Teatersal
cursor.executescript(
    """
CREATE TABLE Teatersal (
    Navn VARCHAR(255) PRIMARY KEY NOT NULL,
    Kapasitet INT
);
CREATE TABLE Theaterstykke (Navn VARCHAR(255) PRIMARY KEY NOT NULL);
CREATE TABLE Oppgave (Beskrivelse TEXT PRIMARY KEY NOT NULL);
CREATE TABLE Oppstilling (
    SesongId INTEGER NOT NULL,
    TeaterStykkeNavn VARCHAR(255) NOT NULL,
    SalNavn VARCHAR(255) NOT NULL,
    PRIMARY KEY (SesongId, TeaterStykkeNavn, SalNavn),
    FOREIGN KEY (SesongId) REFERENCES Sesong(SesongId) ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (TeaterStykkeNavn) REFERENCES Theaterstykke(Navn) ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (SalNavn) REFERENCES Teatersal(Navn) ON DELETE CASCADE ON UPDATE CASCADE
);
CREATE TABLE Ansatt (
    AnsattId INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    Epost VARCHAR(255),
    Navn VARCHAR(255),
    Ansattstatus VARCHAR(255),
    ErSjef BOOLEAN DEFAULT FALSE
);
CREATE TABLE Kundeprofil (
    Mobilnummer VARCHAR(20) PRIMARY KEY NOT NULL,
    Navn VARCHAR(255),
    Adresse TEXT
);
CREATE TABLE Sesong (
    SesongId INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    Navn VARCHAR(255),
    Startdato DATE,
    Sluttdato DATE
);
CREATE TABLE Stol (
    RadNr INT,
    StolNr INT,
    Område VARCHAR(255) CHECK (
        Område IN (
            'Hovedområde',
            'Galleri',
            'Parkett',
            'Balkong'
        )
    ),
    SalNavn VARCHAR(255) NOT NULL,
    PRIMARY KEY (RadNr, StolNr, Område, SalNavn),
    FOREIGN KEY (SalNavn) REFERENCES Teatersal(Navn) ON DELETE CASCADE ON UPDATE CASCADE
);
CREATE TABLE Billett (
    RadNr INT NOT NULL,
    StolNr INT NOT NULL,
    Område VARCHAR(255) NOT NULL,
    SalNavn VARCHAR(255) NOT NULL,
    ForestillingNummer INTEGER NOT NULL,
    BillettKjøpNummer INT NOT NULL,
    Billettype VARCHAR(255) NOT NULL,
    TeaterStykkeNavn VARCHAR(255) NOT NULL,
    PRIMARY KEY (RadNr, StolNr, Område, SalNavn, ForestillingNummer),
    FOREIGN KEY (BillettKjøpNummer) REFERENCES Billettkjøp(Nummer) ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (Billettype, TeaterStykkeNavn) REFERENCES BilletType(Billettype, TeaterStykkeNavn) ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (RadNr, StolNr, Område, SalNavn) REFERENCES Stol(RadNr, StolNr, Område, Navn) ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN Key (ForestillingNummer) REFERENCES Forestilling(Nummer) ON DELETE CASCADE ON UPDATE CASCADE
);
CREATE TABLE Billettkjøp (
    TeaterStykkeNavn VARCHAR(255) NOT NULL,
    ForestillingNummer INTEGER NOT NULL,
    Nummer INTEGER NOT NULL,
    Mobilnummer VARCHAR(20) NOT NULL,
    Dato DATE,
    Tid TIME,
    PRIMARY KEY (Nummer, ForestillingNummer, TeaterStykkeNavn),
    FOREIGN KEY (ForestillingNummer) REFERENCES Forestilling(Nummer) ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (Mobilnummer) REFERENCES Kundeprofil(Mobilnummer) ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (TeaterStykkeNavn) REFERENCES Theaterstykke(Navn) ON DELETE CASCADE ON UPDATE CASCADE
);
CREATE TABLE Forestilling (
    TeaterStykkeNavn VARCHAR(255) NOT NULL,
    Nummer INTEGER NOT NULL,
    Dato DATE,
    Tid TIME,
    PRIMARY KEY (Nummer, TeaterStykkeNavn),
    FOREIGN KEY (TeaterStykkeNavn) REFERENCES Theaterstykke(Navn) ON DELETE CASCADE ON UPDATE CASCADE
);
CREATE TABLE BilletType (
    TeaterStykkeNavn VARCHAR(255) NOT NULL,
    Type VARCHAR(255) NOT NULL,
    Pris DECIMAL NOT NULL,
    MinAntall INT NOT NULL,
    PRIMARY KEY (TeaterStykkeNavn, Type),
    FOREIGN KEY (TeaterStykkeNavn) REFERENCES Theaterstykke(Navn) ON DELETE CASCADE ON UPDATE CASCADE
);
CREATE TABLE Rolle (
    TeaterStykkeNavn VARCHAR(255) NOT NULL,
    Navn VARCHAR(255) NOT NULL,
    PRIMARY KEY (TeaterStykkeNavn, Navn),
    FOREIGN KEY (TeaterStykkeNavn) REFERENCES Theaterstykke(Navn) ON DELETE CASCADE ON UPDATE CASCADE
);
CREATE TABLE Akt (
    TeaterStykkeNavn VARCHAR(255) NOT NULL,
    Nummer INTEGER NOT NULL,
    Aktnavn VARCHAR(255) NOT NULL,
    PRIMARY KEY (TeaterStykkeNavn, Nummer),
    FOREIGN KEY (TeaterStykkeNavn) REFERENCES Theaterstykke(Navn) ON DELETE CASCADE ON UPDATE CASCADE
);
CREATE TABLE RollePaAkt (
    TeaterStykkeNavn VARCHAR(255) NOT NULL,
    Actnummer INT NOT NULL,
    RolleNavn VARCHAR(255) NOT NULL,
    PRIMARY KEY (TeaterStykkeNavn, Actnummer, RolleNavn),
    FOREIGN KEY (TeaterStykkeNavn) REFERENCES Theaterstykke(Navn) ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (RolleNavn) REFERENCES Rolle(Navn) ON DELETE CASCADE ON UPDATE CASCADE
);
CREATE TABLE Task (
    Beskrivelse TEXT NOT NULL,
    Identifikator INT NOT NULL,
    Navn VARCHAR(255) NOT NULL,
    PRIMARY KEY (Beskrivelse, Identifikator, Navn),
    FOREIGN KEY (Beskrivelse) REFERENCES Oppgave(Beskrivelse) ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (Identifikator) REFERENCES Ansatt(AnsattId) ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (Navn) REFERENCES Theaterstykke(Navn) ON DELETE CASCADE ON UPDATE CASCADE
);
CREATE TABLE Skuespiller (
    Identifikator INT NOT NULL,
    TeaterStykkeNavn VARCHAR(255) NOT NULL,
    RolleNavn VARCHAR(255) NOT NULL,
    PRIMARY KEY (Identifikator, TeaterStykkeNavn, RolleNavn),
    FOREIGN KEY (Identifikator) REFERENCES Ansatt(AnsattId) ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (TeaterStykkeNavn) REFERENCES Theaterstykke(Navn) ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (RolleNavn) REFERENCES Rolle(Navn) ON DELETE CASCADE ON UPDATE CASCADE
);
"""
)


# Display the list of tables created in the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
tables

[('Teatersal',),
 ('Theaterstykke',),
 ('Oppgave',),
 ('Oppstilling',),
 ('Ansatt',),
 ('sqlite_sequence',),
 ('Kundeprofil',),
 ('Sesong',),
 ('Stol',),
 ('Billett',),
 ('Billettkjøp',),
 ('Forestilling',),
 ('BilletType',),
 ('Rolle',),
 ('Akt',),
 ('RollePaAkt',),
 ('Task',),
 ('Skuespiller',)]

# Oppgave 1

In [6]:
cursor.execute("INSERT INTO Theaterstykke (Navn) VALUES ('Kongsemnene')")
cursor.execute("INSERT INTO Theaterstykke (Navn) VALUES ('Størst av alt er kjærligheten')")

cursor.execute("INSERT INTO Teatersal (Navn, Kapasitet) VALUES ('Hovedscenen', 524)")
cursor.execute("INSERT INTO Teatersal (Navn, Kapasitet) VALUES ('Gamle scene', 332)")

# Insert into Forestilling for 'Kongsemnene'
dates_kongsemnene = ['2024-02-01', '2024-02-02', '2024-02-03', '2024-02-05', '2024-02-06']
for index, date in enumerate(dates_kongsemnene):
    cursor.execute("INSERT INTO Forestilling (TeaterStykkeNavn, Nummer, Dato, Tid) VALUES ('Kongsemnene', ?, ?, '19:00')", (index+1, date))

# Insert into Forestilling for 'Størst av alt er kjærligheten'
dates_stor = ['2024-02-03', '2024-02-06', '2024-02-07', '2024-02-12', '2024-02-13', '2024-02-14']
for index, date in enumerate(dates_stor):
    cursor.execute("INSERT INTO Forestilling (TeaterStykkeNavn, Nummer, Dato, Tid) VALUES ('Størst av alt er kjærligheten', ?, ?, '18:30')", (index+1, date))

# Insert into BilletTyper for 'Kongsemnene'
BilletTyper_kongsemnene = [
    ('Kongsemnene', 'Ordinær', 450, 0),
    ('Kongsemnene', 'Honnør', 380, 0),
    ('Kongsemnene', 'Student', 280, 0),
    ('Kongsemnene', 'Gruppe 10', 420, 10),
    ('Kongsemnene', 'Gruppe honnør 10', 360, 10)
]
cursor.executemany("INSERT INTO BilletType (TeaterStykkeNavn, Type, Pris, MinAntall) VALUES (?, ?, ?, ?)", BilletTyper_kongsemnene)

# Insert into BilletTyper for 'Størst av alt er kjærligheten'
BilletTyper_stor = [
    ('Størst av alt er kjærligheten', 'Ordinær', 350, 0),
    ('Størst av alt er kjærligheten', 'Honnør', 300, 0),
    ('Størst av alt er kjærligheten', 'Student', 220, 0),
    ('Størst av alt er kjærligheten', 'Barn', 220, 0),
    ('Størst av alt er kjærligheten', 'Gruppe 10', 320, 10),
    ('Størst av alt er kjærligheten', 'Gruppe honnør 10', 270, 10)
]
cursor.executemany("INSERT INTO BilletType (TeaterStykkeNavn, Type, Pris, MinAntall) VALUES (?, ?, ?, ?)", BilletTyper_stor)

# Commit the changes
conn.commit()

In [7]:
# Check the insertion
cursor.execute("SELECT * FROM Theaterstykke")
theaterstykke_data = cursor.fetchall()
cursor.execute("SELECT * FROM Teatersal")
teatersal_data = cursor.fetchall()
cursor.execute("SELECT * FROM Forestilling")
forestilling_data = cursor.fetchall()
cursor.execute("SELECT * FROM BilletType")
BilletTyper_data = cursor.fetchall()

(theaterstykke_data, teatersal_data, forestilling_data, BilletTyper_data)

([('Kongsemnene',), ('Størst av alt er kjærligheten',)],
 [('Hovedscenen', 524), ('Gamle scene', 332)],
 [('Kongsemnene', 1, '2024-02-01', '19:00'),
  ('Kongsemnene', 2, '2024-02-02', '19:00'),
  ('Kongsemnene', 3, '2024-02-03', '19:00'),
  ('Kongsemnene', 4, '2024-02-05', '19:00'),
  ('Kongsemnene', 5, '2024-02-06', '19:00'),
  ('Størst av alt er kjærligheten', 1, '2024-02-03', '18:30'),
  ('Størst av alt er kjærligheten', 2, '2024-02-06', '18:30'),
  ('Størst av alt er kjærligheten', 3, '2024-02-07', '18:30'),
  ('Størst av alt er kjærligheten', 4, '2024-02-12', '18:30'),
  ('Størst av alt er kjærligheten', 5, '2024-02-13', '18:30'),
  ('Størst av alt er kjærligheten', 6, '2024-02-14', '18:30')],
 [('Kongsemnene', 'Ordinær', 450, 0),
  ('Kongsemnene', 'Honnør', 380, 0),
  ('Kongsemnene', 'Student', 280, 0),
  ('Kongsemnene', 'Gruppe 10', 420, 10),
  ('Kongsemnene', 'Gruppe honnør 10', 360, 10),
  ('Størst av alt er kjærligheten', 'Ordinær', 350, 0),
  ('Størst av alt er kjærligheten', 'Honnør', 300, 0),
  ('Størst av alt er kjærligheten', 'Student', 220, 0),
  ('Størst av alt er kjærligheten', 'Barn', 220, 0),
  ('Størst av alt er kjærligheten', 'Gruppe 10', 320, 10),
  ('Størst av alt er kjærligheten', 'Gruppe honnør 10', 270, 10)])

In [8]:
main_area_seats = 504
gallery_area_seats = 520 - 504  # From 504 to 520

# Define the number of seats per row in the main area and the number of rows with 24 seats.
seats_per_row_main = 28
rows_with_24_seats = 2

# Calculate the number of full 28-seat rows
full_rows =18

# Insert seats for the main area
for row in range(1, full_rows + 1):
    for seat_number in range(1, seats_per_row_main + 1):
        seat_number = seat_number + (row-1)*28
        if( 466 < seat_number < 471 ): 
            continue
        if ( 494 < seat_number < 499 ): 
            continue
        cursor.execute("INSERT INTO Stol (RadNr, StolNr, Område, SalNavn) VALUES (?, ?, 'Hovedområde', 'Hovedscenen')",
                       (row, seat_number))

# Insert seats for the gallery area, which has no rows, so we'll consider it as one row with 16 seats.
for seat_number in range(main_area_seats + 1, gallery_area_seats + main_area_seats + 1):
    if( 504 < seat_number < 515): 
        radnr = 1
    else :
        radnr = 2
    cursor.execute("INSERT INTO Stol (RadNr, StolNr, Område, SalNavn) VALUES (?, ?, 'Galleri', 'Hovedscenen')",
                   (radnr, seat_number))

# Commit the changes to the database
conn.commit()

In [9]:
# Now let's fetch some of the data to verify the insertions

query = "SELECT * FROM Stol where SalNavn='Hovedscenen' ORDER BY StolNr, Område, RadNr "

cursor.execute(query)
rows = cursor.fetchall()

# Printing the result
print("Seats in the database:")
print("RadNr | StolNr | Område | Teatersal")
for row in rows:
    radnr, stolnr, område, navn = row
    print(f"{radnr or 'None':5} | {stolnr:6} | {område:10} | {navn}")

Seats in the database:
RadNr | StolNr | Område | Teatersal
    1 |      1 | Hovedområde | Hovedscenen
    1 |      2 | Hovedområde | Hovedscenen
    1 |      3 | Hovedområde | Hovedscenen
    1 |      4 | Hovedområde | Hovedscenen
    1 |      5 | Hovedområde | Hovedscenen
    1 |      6 | Hovedområde | Hovedscenen
    1 |      7 | Hovedområde | Hovedscenen
    1 |      8 | Hovedområde | Hovedscenen
    1 |      9 | Hovedområde | Hovedscenen
    1 |     10 | Hovedområde | Hovedscenen
    1 |     11 | Hovedområde | Hovedscenen
    1 |     12 | Hovedområde | Hovedscenen
    1 |     13 | Hovedområde | Hovedscenen
    1 |     14 | Hovedområde | Hovedscenen
    1 |     15 | Hovedområde | Hovedscenen
    1 |     16 | Hovedområde | Hovedscenen
    1 |     17 | Hovedområde | Hovedscenen
    1 |     18 | Hovedområde | Hovedscenen
    1 |     19 | Hovedområde | Hovedscenen
    1 |     20 | Hovedområde | Hovedscenen
    1 |     21 | Hovedområde | Hovedscenen
    1 |     22 | Hovedområde | Hovedscenen
    1 |     23 | Hovedområde | Hovedscenen
    1 |     24 | Hovedområde | Hovedscenen
    1 |     25 | Hovedområde | Hovedscenen
    1 |     26 | Hovedområde | Hovedscenen
    1 |     27 | Hovedområde | Hovedscenen
    1 |     28 | Hovedområde | Hovedscenen
    2 |     29 | Hovedområde | Hovedscenen
    2 |     30 | Hovedområde | Hovedscenen
    2 |     31 | Hovedområde | Hovedscenen
    2 |     32 | Hovedområde | Hovedscenen
    2 |     33 | Hovedområde | Hovedscenen
    2 |     34 | Hovedområde | Hovedscenen
    2 |     35 | Hovedområde | Hovedscenen
    2 |     36 | Hovedområde | Hovedscenen
    2 |     37 | Hovedområde | Hovedscenen
    2 |     38 | Hovedområde | Hovedscenen
    2 |     39 | Hovedområde | Hovedscenen
    2 |     40 | Hovedområde | Hovedscenen
    2 |     41 | Hovedområde | Hovedscenen
    2 |     42 | Hovedområde | Hovedscenen
    2 |     43 | Hovedområde | Hovedscenen
    2 |     44 | Hovedområde | Hovedscenen
    2 |     45 | Hovedområde | Hovedscenen
    2 |     46 | Hovedområde | Hovedscenen
    2 |     47 | Hovedområde | Hovedscenen
    2 |     48 | Hovedområde | Hovedscenen
    2 |     49 | Hovedområde | Hovedscenen
    2 |     50 | Hovedområde | Hovedscenen
    2 |     51 | Hovedområde | Hovedscenen
    2 |     52 | Hovedområde | Hovedscenen
    2 |     53 | Hovedområde | Hovedscenen
    2 |     54 | Hovedområde | Hovedscenen
    2 |     55 | Hovedområde | Hovedscenen
    2 |     56 | Hovedområde | Hovedscenen
    3 |     57 | Hovedområde | Hovedscenen
    3 |     58 | Hovedområde | Hovedscenen
    3 |     59 | Hovedområde | Hovedscenen
    3 |     60 | Hovedområde | Hovedscenen
    3 |     61 | Hovedområde | Hovedscenen
    3 |     62 | Hovedområde | Hovedscenen
    3 |     63 | Hovedområde | Hovedscenen
    3 |     64 | Hovedområde | Hovedscenen
    3 |     65 | Hovedområde | Hovedscenen
    3 |     66 | Hovedområde | Hovedscenen
    3 |     67 | Hovedområde | Hovedscenen
    3 |     68 | Hovedområde | Hovedscenen
    3 |     69 | Hovedområde | Hovedscenen
    3 |     70 | Hovedområde | Hovedscenen
    3 |     71 | Hovedområde | Hovedscenen
    3 |     72 | Hovedområde | Hovedscenen
    3 |     73 | Hovedområde | Hovedscenen
    3 |     74 | Hovedområde | Hovedscenen
    3 |     75 | Hovedområde | Hovedscenen
    3 |     76 | Hovedområde | Hovedscenen
    3 |     77 | Hovedområde | Hovedscenen
    3 |     78 | Hovedområde | Hovedscenen
    3 |     79 | Hovedområde | Hovedscenen
    3 |     80 | Hovedområde | Hovedscenen
    3 |     81 | Hovedområde | Hovedscenen
    3 |     82 | Hovedområde | Hovedscenen
    3 |     83 | Hovedområde | Hovedscenen
    3 |     84 | Hovedområde | Hovedscenen
    4 |     85 | Hovedområde | Hovedscenen
    4 |     86 | Hovedområde | Hovedscenen
    4 |     87 | Hovedområde | Hovedscenen
    4 |     88 | Hovedområde | Hovedscenen
    4 |     89 | Hovedområde | Hovedscenen
    4 |     90 | Hovedområde | Hovedscenen
    4 |     91 | Hovedområde | Hovedscenen
    4 |     92 | Hovedområde | Hovedscenen
    4 |     93 | Hovedområde | Hovedscenen
    4 |     94 | Hovedområde | Hovedscenen
    4 |     95 | Hovedområde | Hovedscenen
    4 |     96 | Hovedområde | Hovedscenen
    4 |     97 | Hovedområde | Hovedscenen
    4 |     98 | Hovedområde | Hovedscenen
    4 |     99 | Hovedområde | Hovedscenen
    4 |    100 | Hovedområde | Hovedscenen
    4 |    101 | Hovedområde | Hovedscenen
    4 |    102 | Hovedområde | Hovedscenen
    4 |    103 | Hovedområde | Hovedscenen
    4 |    104 | Hovedområde | Hovedscenen
    4 |    105 | Hovedområde | Hovedscenen
    4 |    106 | Hovedområde | Hovedscenen
    4 |    107 | Hovedområde | Hovedscenen
    4 |    108 | Hovedområde | Hovedscenen
    4 |    109 | Hovedområde | Hovedscenen
    4 |    110 | Hovedområde | Hovedscenen
    4 |    111 | Hovedområde | Hovedscenen
    4 |    112 | Hovedområde | Hovedscenen
    5 |    113 | Hovedområde | Hovedscenen
    5 |    114 | Hovedområde | Hovedscenen
    5 |    115 | Hovedområde | Hovedscenen
    5 |    116 | Hovedområde | Hovedscenen
    5 |    117 | Hovedområde | Hovedscenen
    5 |    118 | Hovedområde | Hovedscenen
    5 |    119 | Hovedområde | Hovedscenen
    5 |    120 | Hovedområde | Hovedscenen
    5 |    121 | Hovedområde | Hovedscenen
    5 |    122 | Hovedområde | Hovedscenen
    5 |    123 | Hovedområde | Hovedscenen
    5 |    124 | Hovedområde | Hovedscenen
    5 |    125 | Hovedområde | Hovedscenen
    5 |    126 | Hovedområde | Hovedscenen
    5 |    127 | Hovedområde | Hovedscenen
    5 |    128 | Hovedområde | Hovedscenen
    5 |    129 | Hovedområde | Hovedscenen
    5 |    130 | Hovedområde | Hovedscenen
    5 |    131 | Hovedområde | Hovedscenen
    5 |    132 | Hovedområde | Hovedscenen
    5 |    133 | Hovedområde | Hovedscenen
    5 |    134 | Hovedområde | Hovedscenen
    5 |    135 | Hovedområde | Hovedscenen
    5 |    136 | Hovedområde | Hovedscenen
    5 |    137 | Hovedområde | Hovedscenen
    5 |    138 | Hovedområde | Hovedscenen
    5 |    139 | Hovedområde | Hovedscenen
    5 |    140 | Hovedområde | Hovedscenen
    6 |    141 | Hovedområde | Hovedscenen
    6 |    142 | Hovedområde | Hovedscenen
    6 |    143 | Hovedområde | Hovedscenen
    6 |    144 | Hovedområde | Hovedscenen
    6 |    145 | Hovedområde | Hovedscenen
    6 |    146 | Hovedområde | Hovedscenen
    6 |    147 | Hovedområde | Hovedscenen
    6 |    148 | Hovedområde | Hovedscenen
    6 |    149 | Hovedområde | Hovedscenen
    6 |    150 | Hovedområde | Hovedscenen
    6 |    151 | Hovedområde | Hovedscenen
    6 |    152 | Hovedområde | Hovedscenen
    6 |    153 | Hovedområde | Hovedscenen
    6 |    154 | Hovedområde | Hovedscenen
    6 |    155 | Hovedområde | Hovedscenen
    6 |    156 | Hovedområde | Hovedscenen
    6 |    157 | Hovedområde | Hovedscenen
    6 |    158 | Hovedområde | Hovedscenen
    6 |    159 | Hovedområde | Hovedscenen
    6 |    160 | Hovedområde | Hovedscenen
    6 |    161 | Hovedområde | Hovedscenen
    6 |    162 | Hovedområde | Hovedscenen
    6 |    163 | Hovedområde | Hovedscenen
    6 |    164 | Hovedområde | Hovedscenen
    6 |    165 | Hovedområde | Hovedscenen
    6 |    166 | Hovedområde | Hovedscenen
    6 |    167 | Hovedområde | Hovedscenen
    6 |    168 | Hovedområde | Hovedscenen
    7 |    169 | Hovedområde | Hovedscenen
    7 |    170 | Hovedområde | Hovedscenen
    7 |    171 | Hovedområde | Hovedscenen
    7 |    172 | Hovedområde | Hovedscenen
    7 |    173 | Hovedområde | Hovedscenen
    7 |    174 | Hovedområde | Hovedscenen
    7 |    175 | Hovedområde | Hovedscenen
    7 |    176 | Hovedområde | Hovedscenen
    7 |    177 | Hovedområde | Hovedscenen
    7 |    178 | Hovedområde | Hovedscenen
    7 |    179 | Hovedområde | Hovedscenen
    7 |    180 | Hovedområde | Hovedscenen
    7 |    181 | Hovedområde | Hovedscenen
    7 |    182 | Hovedområde | Hovedscenen
    7 |    183 | Hovedområde | Hovedscenen
    7 |    184 | Hovedområde | Hovedscenen
    7 |    185 | Hovedområde | Hovedscenen
    7 |    186 | Hovedområde | Hovedscenen
    7 |    187 | Hovedområde | Hovedscenen
    7 |    188 | Hovedområde | Hovedscenen
    7 |    189 | Hovedområde | Hovedscenen
    7 |    190 | Hovedområde | Hovedscenen
    7 |    191 | Hovedområde | Hovedscenen
    7 |    192 | Hovedområde | Hovedscenen
    7 |    193 | Hovedområde | Hovedscenen
    7 |    194 | Hovedområde | Hovedscenen
    7 |    195 | Hovedområde | Hovedscenen
    7 |    196 | Hovedområde | Hovedscenen
    8 |    197 | Hovedområde | Hovedscenen
    8 |    198 | Hovedområde | Hovedscenen
    8 |    199 | Hovedområde | Hovedscenen
    8 |    200 | Hovedområde | Hovedscenen
    8 |    201 | Hovedområde | Hovedscenen
    8 |    202 | Hovedområde | Hovedscenen
    8 |    203 | Hovedområde | Hovedscenen
    8 |    204 | Hovedområde | Hovedscenen
    8 |    205 | Hovedområde | Hovedscenen
    8 |    206 | Hovedområde | Hovedscenen
    8 |    207 | Hovedområde | Hovedscenen
    8 |    208 | Hovedområde | Hovedscenen
    8 |    209 | Hovedområde | Hovedscenen
    8 |    210 | Hovedområde | Hovedscenen
    8 |    211 | Hovedområde | Hovedscenen
    8 |    212 | Hovedområde | Hovedscenen
    8 |    213 | Hovedområde | Hovedscenen
    8 |    214 | Hovedområde | Hovedscenen
    8 |    215 | Hovedområde | Hovedscenen
    8 |    216 | Hovedområde | Hovedscenen
    8 |    217 | Hovedområde | Hovedscenen
    8 |    218 | Hovedområde | Hovedscenen
    8 |    219 | Hovedområde | Hovedscenen
    8 |    220 | Hovedområde | Hovedscenen
    8 |    221 | Hovedområde | Hovedscenen
    8 |    222 | Hovedområde | Hovedscenen
    8 |    223 | Hovedområde | Hovedscenen
    8 |    224 | Hovedområde | Hovedscenen
    9 |    225 | Hovedområde | Hovedscenen
    9 |    226 | Hovedområde | Hovedscenen
    9 |    227 | Hovedområde | Hovedscenen
    9 |    228 | Hovedområde | Hovedscenen
    9 |    229 | Hovedområde | Hovedscenen
    9 |    230 | Hovedområde | Hovedscenen
    9 |    231 | Hovedområde | Hovedscenen
    9 |    232 | Hovedområde | Hovedscenen
    9 |    233 | Hovedområde | Hovedscenen
    9 |    234 | Hovedområde | Hovedscenen
    9 |    235 | Hovedområde | Hovedscenen
    9 |    236 | Hovedområde | Hovedscenen
    9 |    237 | Hovedområde | Hovedscenen
    9 |    238 | Hovedområde | Hovedscenen
    9 |    239 | Hovedområde | Hovedscenen
    9 |    240 | Hovedområde | Hovedscenen
    9 |    241 | Hovedområde | Hovedscenen
    9 |    242 | Hovedområde | Hovedscenen
    9 |    243 | Hovedområde | Hovedscenen
    9 |    244 | Hovedområde | Hovedscenen
    9 |    245 | Hovedområde | Hovedscenen
    9 |    246 | Hovedområde | Hovedscenen
    9 |    247 | Hovedområde | Hovedscenen
    9 |    248 | Hovedområde | Hovedscenen
    9 |    249 | Hovedområde | Hovedscenen
    9 |    250 | Hovedområde | Hovedscenen
    9 |    251 | Hovedområde | Hovedscenen
    9 |    252 | Hovedområde | Hovedscenen
   10 |    253 | Hovedområde | Hovedscenen
   10 |    254 | Hovedområde | Hovedscenen
   10 |    255 | Hovedområde | Hovedscenen
   10 |    256 | Hovedområde | Hovedscenen
   10 |    257 | Hovedområde | Hovedscenen
   10 |    258 | Hovedområde | Hovedscenen
   10 |    259 | Hovedområde | Hovedscenen
   10 |    260 | Hovedområde | Hovedscenen
   10 |    261 | Hovedområde | Hovedscenen
   10 |    262 | Hovedområde | Hovedscenen
   10 |    263 | Hovedområde | Hovedscenen
   10 |    264 | Hovedområde | Hovedscenen
   10 |    265 | Hovedområde | Hovedscenen
   10 |    266 | Hovedområde | Hovedscenen
   10 |    267 | Hovedområde | Hovedscenen
   10 |    268 | Hovedområde | Hovedscenen
   10 |    269 | Hovedområde | Hovedscenen
   10 |    270 | Hovedområde | Hovedscenen
   10 |    271 | Hovedområde | Hovedscenen
   10 |    272 | Hovedområde | Hovedscenen
   10 |    273 | Hovedområde | Hovedscenen
   10 |    274 | Hovedområde | Hovedscenen
   10 |    275 | Hovedområde | Hovedscenen
   10 |    276 | Hovedområde | Hovedscenen
   10 |    277 | Hovedområde | Hovedscenen
   10 |    278 | Hovedområde | Hovedscenen
   10 |    279 | Hovedområde | Hovedscenen
   10 |    280 | Hovedområde | Hovedscenen
   11 |    281 | Hovedområde | Hovedscenen
   11 |    282 | Hovedområde | Hovedscenen
   11 |    283 | Hovedområde | Hovedscenen
   11 |    284 | Hovedområde | Hovedscenen
   11 |    285 | Hovedområde | Hovedscenen
   11 |    286 | Hovedområde | Hovedscenen
   11 |    287 | Hovedområde | Hovedscenen
   11 |    288 | Hovedområde | Hovedscenen
   11 |    289 | Hovedområde | Hovedscenen
   11 |    290 | Hovedområde | Hovedscenen
   11 |    291 | Hovedområde | Hovedscenen
   11 |    292 | Hovedområde | Hovedscenen
   11 |    293 | Hovedområde | Hovedscenen
   11 |    294 | Hovedområde | Hovedscenen
   11 |    295 | Hovedområde | Hovedscenen
   11 |    296 | Hovedområde | Hovedscenen
   11 |    297 | Hovedområde | Hovedscenen
   11 |    298 | Hovedområde | Hovedscenen
   11 |    299 | Hovedområde | Hovedscenen
   11 |    300 | Hovedområde | Hovedscenen
   11 |    301 | Hovedområde | Hovedscenen
   11 |    302 | Hovedområde | Hovedscenen
   11 |    303 | Hovedområde | Hovedscenen
   11 |    304 | Hovedområde | Hovedscenen
   11 |    305 | Hovedområde | Hovedscenen
   11 |    306 | Hovedområde | Hovedscenen
   11 |    307 | Hovedområde | Hovedscenen
   11 |    308 | Hovedområde | Hovedscenen
   12 |    309 | Hovedområde | Hovedscenen
   12 |    310 | Hovedområde | Hovedscenen
   12 |    311 | Hovedområde | Hovedscenen
   12 |    312 | Hovedområde | Hovedscenen
   12 |    313 | Hovedområde | Hovedscenen
   12 |    314 | Hovedområde | Hovedscenen
   12 |    315 | Hovedområde | Hovedscenen
   12 |    316 | Hovedområde | Hovedscenen
   12 |    317 | Hovedområde | Hovedscenen
   12 |    318 | Hovedområde | Hovedscenen
   12 |    319 | Hovedområde | Hovedscenen
   12 |    320 | Hovedområde | Hovedscenen
   12 |    321 | Hovedområde | Hovedscenen
   12 |    322 | Hovedområde | Hovedscenen
   12 |    323 | Hovedområde | Hovedscenen
   12 |    324 | Hovedområde | Hovedscenen
   12 |    325 | Hovedområde | Hovedscenen
   12 |    326 | Hovedområde | Hovedscenen
   12 |    327 | Hovedområde | Hovedscenen
   12 |    328 | Hovedområde | Hovedscenen
   12 |    329 | Hovedområde | Hovedscenen
   12 |    330 | Hovedområde | Hovedscenen
   12 |    331 | Hovedområde | Hovedscenen
   12 |    332 | Hovedområde | Hovedscenen
   12 |    333 | Hovedområde | Hovedscenen
   12 |    334 | Hovedområde | Hovedscenen
   12 |    335 | Hovedområde | Hovedscenen
   12 |    336 | Hovedområde | Hovedscenen
   13 |    337 | Hovedområde | Hovedscenen
   13 |    338 | Hovedområde | Hovedscenen
   13 |    339 | Hovedområde | Hovedscenen
   13 |    340 | Hovedområde | Hovedscenen
   13 |    341 | Hovedområde | Hovedscenen
   13 |    342 | Hovedområde | Hovedscenen
   13 |    343 | Hovedområde | Hovedscenen
   13 |    344 | Hovedområde | Hovedscenen
   13 |    345 | Hovedområde | Hovedscenen
   13 |    346 | Hovedområde | Hovedscenen
   13 |    347 | Hovedområde | Hovedscenen
   13 |    348 | Hovedområde | Hovedscenen
   13 |    349 | Hovedområde | Hovedscenen
   13 |    350 | Hovedområde | Hovedscenen
   13 |    351 | Hovedområde | Hovedscenen
   13 |    352 | Hovedområde | Hovedscenen
   13 |    353 | Hovedområde | Hovedscenen
   13 |    354 | Hovedområde | Hovedscenen
   13 |    355 | Hovedområde | Hovedscenen
   13 |    356 | Hovedområde | Hovedscenen
   13 |    357 | Hovedområde | Hovedscenen
   13 |    358 | Hovedområde | Hovedscenen
   13 |    359 | Hovedområde | Hovedscenen
   13 |    360 | Hovedområde | Hovedscenen
   13 |    361 | Hovedområde | Hovedscenen
   13 |    362 | Hovedområde | Hovedscenen
   13 |    363 | Hovedområde | Hovedscenen
   13 |    364 | Hovedområde | Hovedscenen
   14 |    365 | Hovedområde | Hovedscenen
   14 |    366 | Hovedområde | Hovedscenen
   14 |    367 | Hovedområde | Hovedscenen
   14 |    368 | Hovedområde | Hovedscenen
   14 |    369 | Hovedområde | Hovedscenen
   14 |    370 | Hovedområde | Hovedscenen
   14 |    371 | Hovedområde | Hovedscenen
   14 |    372 | Hovedområde | Hovedscenen
   14 |    373 | Hovedområde | Hovedscenen
   14 |    374 | Hovedområde | Hovedscenen
   14 |    375 | Hovedområde | Hovedscenen
   14 |    376 | Hovedområde | Hovedscenen
   14 |    377 | Hovedområde | Hovedscenen
   14 |    378 | Hovedområde | Hovedscenen
   14 |    379 | Hovedområde | Hovedscenen
   14 |    380 | Hovedområde | Hovedscenen
   14 |    381 | Hovedområde | Hovedscenen
   14 |    382 | Hovedområde | Hovedscenen
   14 |    383 | Hovedområde | Hovedscenen
   14 |    384 | Hovedområde | Hovedscenen
   14 |    385 | Hovedområde | Hovedscenen
   14 |    386 | Hovedområde | Hovedscenen
   14 |    387 | Hovedområde | Hovedscenen
   14 |    388 | Hovedområde | Hovedscenen
   14 |    389 | Hovedområde | Hovedscenen
   14 |    390 | Hovedområde | Hovedscenen
   14 |    391 | Hovedområde | Hovedscenen
   14 |    392 | Hovedområde | Hovedscenen
   15 |    393 | Hovedområde | Hovedscenen
   15 |    394 | Hovedområde | Hovedscenen
   15 |    395 | Hovedområde | Hovedscenen
   15 |    396 | Hovedområde | Hovedscenen
   15 |    397 | Hovedområde | Hovedscenen
   15 |    398 | Hovedområde | Hovedscenen
   15 |    399 | Hovedområde | Hovedscenen
   15 |    400 | Hovedområde | Hovedscenen
   15 |    401 | Hovedområde | Hovedscenen
   15 |    402 | Hovedområde | Hovedscenen
   15 |    403 | Hovedområde | Hovedscenen
   15 |    404 | Hovedområde | Hovedscenen
   15 |    405 | Hovedområde | Hovedscenen
   15 |    406 | Hovedområde | Hovedscenen
   15 |    407 | Hovedområde | Hovedscenen
   15 |    408 | Hovedområde | Hovedscenen
   15 |    409 | Hovedområde | Hovedscenen
   15 |    410 | Hovedområde | Hovedscenen
   15 |    411 | Hovedområde | Hovedscenen
   15 |    412 | Hovedområde | Hovedscenen
   15 |    413 | Hovedområde | Hovedscenen
   15 |    414 | Hovedområde | Hovedscenen
   15 |    415 | Hovedområde | Hovedscenen
   15 |    416 | Hovedområde | Hovedscenen
   15 |    417 | Hovedområde | Hovedscenen
   15 |    418 | Hovedområde | Hovedscenen
   15 |    419 | Hovedområde | Hovedscenen
   15 |    420 | Hovedområde | Hovedscenen
   16 |    421 | Hovedområde | Hovedscenen
   16 |    422 | Hovedområde | Hovedscenen
   16 |    423 | Hovedområde | Hovedscenen
   16 |    424 | Hovedområde | Hovedscenen
   16 |    425 | Hovedområde | Hovedscenen
   16 |    426 | Hovedområde | Hovedscenen
   16 |    427 | Hovedområde | Hovedscenen
   16 |    428 | Hovedområde | Hovedscenen
   16 |    429 | Hovedområde | Hovedscenen
   16 |    430 | Hovedområde | Hovedscenen
   16 |    431 | Hovedområde | Hovedscenen
   16 |    432 | Hovedområde | Hovedscenen
   16 |    433 | Hovedområde | Hovedscenen
   16 |    434 | Hovedområde | Hovedscenen
   16 |    435 | Hovedområde | Hovedscenen
   16 |    436 | Hovedområde | Hovedscenen
   16 |    437 | Hovedområde | Hovedscenen
   16 |    438 | Hovedområde | Hovedscenen
   16 |    439 | Hovedområde | Hovedscenen
   16 |    440 | Hovedområde | Hovedscenen
   16 |    441 | Hovedområde | Hovedscenen
   16 |    442 | Hovedområde | Hovedscenen
   16 |    443 | Hovedområde | Hovedscenen
   16 |    444 | Hovedområde | Hovedscenen
   16 |    445 | Hovedområde | Hovedscenen
   16 |    446 | Hovedområde | Hovedscenen
   16 |    447 | Hovedområde | Hovedscenen
   16 |    448 | Hovedområde | Hovedscenen
   17 |    449 | Hovedområde | Hovedscenen
   17 |    450 | Hovedområde | Hovedscenen
   17 |    451 | Hovedområde | Hovedscenen
   17 |    452 | Hovedområde | Hovedscenen
   17 |    453 | Hovedområde | Hovedscenen
   17 |    454 | Hovedområde | Hovedscenen
   17 |    455 | Hovedområde | Hovedscenen
   17 |    456 | Hovedområde | Hovedscenen
   17 |    457 | Hovedområde | Hovedscenen
   17 |    458 | Hovedområde | Hovedscenen
   17 |    459 | Hovedområde | Hovedscenen
   17 |    460 | Hovedområde | Hovedscenen
   17 |    461 | Hovedområde | Hovedscenen
   17 |    462 | Hovedområde | Hovedscenen
   17 |    463 | Hovedområde | Hovedscenen

In [10]:
# Insert seats for the Galleri area of Gamle scene
galleri_seat_counts = [33, 18, 17]
for row, seats in enumerate(galleri_seat_counts, start=1):
    for seat_number in range(1, seats + 1):
        cursor.execute("INSERT INTO Stol (RadNr, StolNr, Område, SalNavn) VALUES (?, ?, 'Galleri', 'Gamle scene')",
                       (row, seat_number))

# Insert seats for the Balkong area of Gamle scene
balkong_seat_counts = [18, 27, 22, 17]
for row, seats in enumerate(balkong_seat_counts, start=1):
    for seat_number in range(1, seats + 1):
        cursor.execute("INSERT INTO Stol (RadNr, StolNr, Område, SalNavn) VALUES (?, ?, 'Balkong', 'Gamle scene')",
                       (row, seat_number))

# Insert seats for the Parket area of Gamle scene
parket_seat_counts = [18, 16, 17, 18, 18, 17, 18, 17, 17, 14]
for row, seats in enumerate(parket_seat_counts, start=1):
    for seat_number in range(1, seats + 1):
        cursor.execute("INSERT INTO Stol (RadNr, StolNr, Område, SalNavn) VALUES (?, ?, 'Parkett', 'Gamle scene')",
                       (row, seat_number))

# Commit the changes to the database
conn.commit()

In [11]:

query = "SELECT * FROM Stol where SalNavn='Gamle scene' ORDER BY SalNavn, Område, RadNr, StolNr "

cursor.execute(query)
rows = cursor.fetchall()

# Printing the result
print("Seats in the database:")
print("RadNr | StolNr | Område | Teatersal")
for row in rows:
    radnr, stolnr, område, navn = row
    print(f"{radnr or 'None':5} | {stolnr:6} | {område:10} | {navn}")

Seats in the database:
RadNr | StolNr | Område | Teatersal
    1 |      1 | Balkong    | Gamle scene
    1 |      2 | Balkong    | Gamle scene
    1 |      3 | Balkong    | Gamle scene
    1 |      4 | Balkong    | Gamle scene
    1 |      5 | Balkong    | Gamle scene
    1 |      6 | Balkong    | Gamle scene
    1 |      7 | Balkong    | Gamle scene
    1 |      8 | Balkong    | Gamle scene
    1 |      9 | Balkong    | Gamle scene
    1 |     10 | Balkong    | Gamle scene
    1 |     11 | Balkong    | Gamle scene
    1 |     12 | Balkong    | Gamle scene
    1 |     13 | Balkong    | Gamle scene
    1 |     14 | Balkong    | Gamle scene
    1 |     15 | Balkong    | Gamle scene
    1 |     16 | Balkong    | Gamle scene
    1 |     17 | Balkong    | Gamle scene
    1 |     18 | Balkong    | Gamle scene
    2 |      1 | Balkong    | Gamle scene
    2 |      2 | Balkong    | Gamle scene
    2 |      3 | Balkong    | Gamle scene
    2 |      4 | Balkong    | Gamle scene
    2 |      5 | Balkong    | Gamle scene
    2 |      6 | Balkong    | Gamle scene
    2 |      7 | Balkong    | Gamle scene
    2 |      8 | Balkong    | Gamle scene
    2 |      9 | Balkong    | Gamle scene
    2 |     10 | Balkong    | Gamle scene
    2 |     11 | Balkong    | Gamle scene
    2 |     12 | Balkong    | Gamle scene
    2 |     13 | Balkong    | Gamle scene
    2 |     14 | Balkong    | Gamle scene
    2 |     15 | Balkong    | Gamle scene
    2 |     16 | Balkong    | Gamle scene
    2 |     17 | Balkong    | Gamle scene
    2 |     18 | Balkong    | Gamle scene
    2 |     19 | Balkong    | Gamle scene
    2 |     20 | Balkong    | Gamle scene
    2 |     21 | Balkong    | Gamle scene
    2 |     22 | Balkong    | Gamle scene
    2 |     23 | Balkong    | Gamle scene
    2 |     24 | Balkong    | Gamle scene
    2 |     25 | Balkong    | Gamle scene
    2 |     26 | Balkong    | Gamle scene
    2 |     27 | Balkong    | Gamle scene
    3 |      1 | Balkong    | Gamle scene
    3 |      2 | Balkong    | Gamle scene
    3 |      3 | Balkong    | Gamle scene
    3 |      4 | Balkong    | Gamle scene
    3 |      5 | Balkong    | Gamle scene
    3 |      6 | Balkong    | Gamle scene
    3 |      7 | Balkong    | Gamle scene
    3 |      8 | Balkong    | Gamle scene
    3 |      9 | Balkong    | Gamle scene
    3 |     10 | Balkong    | Gamle scene
    3 |     11 | Balkong    | Gamle scene
    3 |     12 | Balkong    | Gamle scene
    3 |     13 | Balkong    | Gamle scene
    3 |     14 | Balkong    | Gamle scene
    3 |     15 | Balkong    | Gamle scene
    3 |     16 | Balkong    | Gamle scene
    3 |     17 | Balkong    | Gamle scene
    3 |     18 | Balkong    | Gamle scene
    3 |     19 | Balkong    | Gamle scene
    3 |     20 | Balkong    | Gamle scene
    3 |     21 | Balkong    | Gamle scene
    3 |     22 | Balkong    | Gamle scene
    4 |      1 | Balkong    | Gamle scene
    4 |      2 | Balkong    | Gamle scene
    4 |      3 | Balkong    | Gamle scene
    4 |      4 | Balkong    | Gamle scene
    4 |      5 | Balkong    | Gamle scene
    4 |      6 | Balkong    | Gamle scene
    4 |      7 | Balkong    | Gamle scene
    4 |      8 | Balkong    | Gamle scene
    4 |      9 | Balkong    | Gamle scene
    4 |     10 | Balkong    | Gamle scene
    4 |     11 | Balkong    | Gamle scene
    4 |     12 | Balkong    | Gamle scene
    4 |     13 | Balkong    | Gamle scene
    4 |     14 | Balkong    | Gamle scene
    4 |     15 | Balkong    | Gamle scene
    4 |     16 | Balkong    | Gamle scene
    4 |     17 | Balkong    | Gamle scene
    1 |      1 | Galleri    | Gamle scene
    1 |      2 | Galleri    | Gamle scene
    1 |      3 | Galleri    | Gamle scene
    1 |      4 | Galleri    | Gamle scene
    1 |      5 | Galleri    | Gamle scene
    1 |      6 | Galleri    | Gamle scene
    1 |      7 | Galleri    | Gamle scene
    1 |      8 | Galleri    | Gamle scene
    1 |      9 | Galleri    | Gamle scene
    1 |     10 | Galleri    | Gamle scene
    1 |     11 | Galleri    | Gamle scene
    1 |     12 | Galleri    | Gamle scene
    1 |     13 | Galleri    | Gamle scene
    1 |     14 | Galleri    | Gamle scene
    1 |     15 | Galleri    | Gamle scene
    1 |     16 | Galleri    | Gamle scene
    1 |     17 | Galleri    | Gamle scene
    1 |     18 | Galleri    | Gamle scene
    1 |     19 | Galleri    | Gamle scene
    1 |     20 | Galleri    | Gamle scene
    1 |     21 | Galleri    | Gamle scene
    1 |     22 | Galleri    | Gamle scene
    1 |     23 | Galleri    | Gamle scene
    1 |     24 | Galleri    | Gamle scene
    1 |     25 | Galleri    | Gamle scene
    1 |     26 | Galleri    | Gamle scene
    1 |     27 | Galleri    | Gamle scene
    1 |     28 | Galleri    | Gamle scene
    1 |     29 | Galleri    | Gamle scene
    1 |     30 | Galleri    | Gamle scene
    1 |     31 | Galleri    | Gamle scene
    1 |     32 | Galleri    | Gamle scene
    1 |     33 | Galleri    | Gamle scene
    2 |      1 | Galleri    | Gamle scene
    2 |      2 | Galleri    | Gamle scene
    2 |      3 | Galleri    | Gamle scene
    2 |      4 | Galleri    | Gamle scene
    2 |      5 | Galleri    | Gamle scene
    2 |      6 | Galleri    | Gamle scene
    2 |      7 | Galleri    | Gamle scene
    2 |      8 | Galleri    | Gamle scene
    2 |      9 | Galleri    | Gamle scene
    2 |     10 | Galleri    | Gamle scene
    2 |     11 | Galleri    | Gamle scene
    2 |     12 | Galleri    | Gamle scene
    2 |     13 | Galleri    | Gamle scene
    2 |     14 | Galleri    | Gamle scene
    2 |     15 | Galleri    | Gamle scene
    2 |     16 | Galleri    | Gamle scene
    2 |     17 | Galleri    | Gamle scene
    2 |     18 | Galleri    | Gamle scene
    3 |      1 | Galleri    | Gamle scene
    3 |      2 | Galleri    | Gamle scene
    3 |      3 | Galleri    | Gamle scene
    3 |      4 | Galleri    | Gamle scene
    3 |      5 | Galleri    | Gamle scene
    3 |      6 | Galleri    | Gamle scene
    3 |      7 | Galleri    | Gamle scene
    3 |      8 | Galleri    | Gamle scene
    3 |      9 | Galleri    | Gamle scene
    3 |     10 | Galleri    | Gamle scene
    3 |     11 | Galleri    | Gamle scene
    3 |     12 | Galleri    | Gamle scene
    3 |     13 | Galleri    | Gamle scene
    3 |     14 | Galleri    | Gamle scene
    3 |     15 | Galleri    | Gamle scene
    3 |     16 | Galleri    | Gamle scene
    3 |     17 | Galleri    | Gamle scene
    1 |      1 | Parkett    | Gamle scene
    1 |      2 | Parkett    | Gamle scene
    1 |      3 | Parkett    | Gamle scene
    1 |      4 | Parkett    | Gamle scene
    1 |      5 | Parkett    | Gamle scene
    1 |      6 | Parkett    | Gamle scene
    1 |      7 | Parkett    | Gamle scene
    1 |      8 | Parkett    | Gamle scene
    1 |      9 | Parkett    | Gamle scene
    1 |     10 | Parkett    | Gamle scene
    1 |     11 | Parkett    | Gamle scene
    1 |     12 | Parkett    | Gamle scene
    1 |     13 | Parkett    | Gamle scene
    1 |     14 | Parkett    | Gamle scene
    1 |     15 | Parkett    | Gamle scene
    1 |     16 | Parkett    | Gamle scene
    1 |     17 | Parkett    | Gamle scene
    1 |     18 | Parkett    | Gamle scene
    2 |      1 | Parkett    | Gamle scene
    2 |      2 | Parkett    | Gamle scene
    2 |      3 | Parkett    | Gamle scene
    2 |      4 | Parkett    | Gamle scene
    2 |      5 | Parkett    | Gamle scene
    2 |      6 | Parkett    | Gamle scene
    2 |      7 | Parkett    | Gamle scene
    2 |      8 | Parkett    | Gamle scene
    2 |      9 | Parkett    | Gamle scene
    2 |     10 | Parkett    | Gamle scene
    2 |     11 | Parkett    | Gamle scene
    2 |     12 | Parkett    | Gamle scene
    2 |     13 | Parkett    | Gamle scene
    2 |     14 | Parkett    | Gamle scene
    2 |     15 | Parkett    | Gamle scene
    2 |     16 | Parkett    | Gamle scene
    3 |      1 | Parkett    | Gamle scene
    3 |      2 | Parkett    | Gamle scene
    3 |      3 | Parkett    | Gamle scene
    3 |      4 | Parkett    | Gamle scene
    3 |      5 | Parkett    | Gamle scene
    3 |      6 | Parkett    | Gamle scene
    3 |      7 | Parkett    | Gamle scene
    3 |      8 | Parkett    | Gamle scene
    3 |      9 | Parkett    | Gamle scene
    3 |     10 | Parkett    | Gamle scene
    3 |     11 | Parkett    | Gamle scene
    3 |     12 | Parkett    | Gamle scene
    3 |     13 | Parkett    | Gamle scene
    3 |     14 | Parkett    | Gamle scene
    3 |     15 | Parkett    | Gamle scene
    3 |     16 | Parkett    | Gamle scene
    3 |     17 | Parkett    | Gamle scene
    4 |      1 | Parkett    | Gamle scene
    4 |      2 | Parkett    | Gamle scene
    4 |      3 | Parkett    | Gamle scene
    4 |      4 | Parkett    | Gamle scene
    4 |      5 | Parkett    | Gamle scene
    4 |      6 | Parkett    | Gamle scene
    4 |      7 | Parkett    | Gamle scene
    4 |      8 | Parkett    | Gamle scene
    4 |      9 | Parkett    | Gamle scene
    4 |     10 | Parkett    | Gamle scene
    4 |     11 | Parkett    | Gamle scene
    4 |     12 | Parkett    | Gamle scene
    4 |     13 | Parkett    | Gamle scene
    4 |     14 | Parkett    | Gamle scene
    4 |     15 | Parkett    | Gamle scene
    4 |     16 | Parkett    | Gamle scene
    4 |     17 | Parkett    | Gamle scene
    4 |     18 | Parkett    | Gamle scene
    5 |      1 | Parkett    | Gamle scene
    5 |      2 | Parkett    | Gamle scene
    5 |      3 | Parkett    | Gamle scene
    5 |      4 | Parkett    | Gamle scene
    5 |      5 | Parkett    | Gamle scene
    5 |      6 | Parkett    | Gamle scene
    5 |      7 | Parkett    | Gamle scene
    5 |      8 | Parkett    | Gamle scene
    5 |      9 | Parkett    | Gamle scene
    5 |     10 | Parkett    | Gamle scene
    5 |     11 | Parkett    | Gamle scene
    5 |     12 | Parkett    | Gamle scene
    5 |     13 | Parkett    | Gamle scene
    5 |     14 | Parkett    | Gamle scene
    5 |     15 | Parkett    | Gamle scene
    5 |     16 | Parkett    | Gamle scene
    5 |     17 | Parkett    | Gamle scene
    5 |     18 | Parkett    | Gamle scene
    6 |      1 | Parkett    | Gamle scene
    6 |      2 | Parkett    | Gamle scene
    6 |      3 | Parkett    | Gamle scene
    6 |      4 | Parkett    | Gamle scene
    6 |      5 | Parkett    | Gamle scene
    6 |      6 | Parkett    | Gamle scene
    6 |      7 | Parkett    | Gamle scene
    6 |      8 | Parkett    | Gamle scene
    6 |      9 | Parkett    | Gamle scene
    6 |     10 | Parkett    | Gamle scene
    6 |     11 | Parkett    | Gamle scene
    6 |     12 | Parkett    | Gamle scene
    6 |     13 | Parkett    | Gamle scene
    6 |     14 | Parkett    | Gamle scene
    6 |     15 | Parkett    | Gamle scene
    6 |     16 | Parkett    | Gamle scene
    6 |     17 | Parkett    | Gamle scene
    7 |      1 | Parkett    | Gamle scene
    7 |      2 | Parkett    | Gamle scene
    7 |      3 | Parkett    | Gamle scene
    7 |      4 | Parkett    | Gamle scene
    7 |      5 | Parkett    | Gamle scene
    7 |      6 | Parkett    | Gamle scene
    7 |      7 | Parkett    | Gamle scene
    7 |      8 | Parkett    | Gamle scene
    7 |      9 | Parkett    | Gamle scene
    7 |     10 | Parkett    | Gamle scene
    7 |     11 | Parkett    | Gamle scene
    7 |     12 | Parkett    | Gamle scene
    7 |     13 | Parkett    | Gamle scene
    7 |     14 | Parkett    | Gamle scene
    7 |     15 | Parkett    | Gamle scene
    7 |     16 | Parkett    | Gamle scene
    7 |     17 | Parkett    | Gamle scene
    7 |     18 | Parkett    | Gamle scene
    8 |      1 | Parkett    | Gamle scene
    8 |      2 | Parkett    | Gamle scene
    8 |      3 | Parkett    | Gamle scene
    8 |      4 | Parkett    | Gamle scene
    8 |      5 | Parkett    | Gamle scene
    8 |      6 | Parkett    | Gamle scene
    8 |      7 | Parkett    | Gamle scene
    8 |      8 | Parkett    | Gamle scene
    8 |      9 | Parkett    | Gamle scene
    8 |     10 | Parkett    | Gamle scene
    8 |     11 | Parkett    | Gamle scene
    8 |     12 | Parkett    | Gamle scene
    8 |     13 | Parkett    | Gamle scene
    8 |     14 | Parkett    | Gamle scene
    8 |     15 | Parkett    | Gamle scene
    8 |     16 | Parkett    | Gamle scene
    8 |     17 | Parkett    | Gamle scene
    9 |      1 | Parkett    | Gamle scene
    9 |      2 | Parkett    | Gamle scene
    9 |      3 | Parkett    | Gamle scene
    9 |      4 | Parkett    | Gamle scene
    9 |      5 | Parkett    | Gamle scene
    9 |      6 | Parkett    | Gamle scene
    9 |      7 | Parkett    | Gamle scene
    9 |      8 | Parkett    | Gamle scene
    9 |      9 | Parkett    | Gamle scene
    9 |     10 | Parkett    | Gamle scene
    9 |     11 | Parkett    | Gamle scene
    9 |     12 | Parkett    | Gamle scene
    9 |     13 | Parkett    | Gamle scene
    9 |     14 | Parkett    | Gamle scene
    9 |     15 | Parkett    | Gamle scene
    9 |     16 | Parkett    | Gamle scene
    9 |     17 | Parkett    | Gamle scene
   10 |      1 | Parkett    | Gamle scene
   10 |      2 | Parkett    | Gamle scene
   10 |      3 | Parkett    | Gamle scene
   10 |      4 | Parkett    | Gamle scene
   10 |      5 | Parkett    | Gamle scene
   10 |      6 | Parkett    | Gamle scene
   10 |      7 | Parkett    | Gamle scene
   10 |      8 | Parkett    | Gamle scene
   10 |      9 | Parkett    | Gamle scene
   10 |     10 | Parkett    | Gamle scene
   10 |     11 | Parkett    | Gamle scene
   10 |     12 | Parkett    | Gamle scene
   10 |     13 | Parkett    | Gamle scene
   10 |     14 | Parkett    | Gamle scene

# Oppgave 2

In [12]:
# 1. Create a customer profile in 'Kundeprofil'
customer_profile = ("1234567890", "Kari Nordmann", "Bakkegata 3, 1234 Storbyen")
cursor.execute(
    "INSERT INTO Kundeprofil ( Mobilnummer, Navn, Adresse) VALUES (?, ?, ?)",
    customer_profile,
)

# 2. Create a record in 'Billettkjøp'
forestillingsIdQuery = "SELECT Nummer FROM Forestilling WHERE teaterstykkeNavn = 'Størst av alt er kjærligheten' AND dato = '2024-02-03' "
forestillingsId = cursor.execute(forestillingsIdQuery).fetchone()[0]

ticket_purchase = (
    1,
    forestillingsId,
    "Størst av alt er kjærligheten",
    "1234567890",
    "2024-02-03",
    "18:30",
)
cursor.execute(
    "INSERT INTO Billettkjøp (Nummer, ForestillingNummer,  TeaterStykkeNavn, Mobilnummer,  dato, tid) VALUES (?,?, ?, ?, ?, ?)",
    ticket_purchase,
)
conn.commit()

In [13]:
# 3. Buy specified seats
# Define the seating layout as provided, '1' for purchased, '0' for not purchased
seating_layout = """
00000000000000000
000000000000000000
000001100000000000000000000000000
Galleri
00000000000000000
0000000000000000000000
110000000000000000000000000
0000000000000000000000000000
Balkong
00000001000000
00000001000000000
00000001000000000
000000011000000000
00000001000000000
000000011000000000
000110011000000000
00011000100000000
1110000010000000
110000011000000000
Parkett
"""
# Process the seating layout
rows = seating_layout.strip().split("\n")
# reverse the rows
rows = rows[::-1]
current_area = ""
for row in rows:
    if row in ["Galleri", "Balkong", "Parkett"]:
        current_area = row
        row_counter = 1
    else:
        for seat_counter, seat in enumerate(row, start=1):
            if seat == "1":

                cursor.execute(
                    "INSERT INTO Billett (RadNr, StolNr, Område, SalNavn, ForestillingNummer, BillettKjøpNummer, Billettype, TeaterStykkeNavn ) VALUES (?, ?, ?, 'Gamle scene', ? ,?, ? , ?)",
                    (
                        row_counter,
                        seat_counter,
                        current_area,
                        forestillingsId,
                        1,
                        "Ordinær",
                        "Størst av alt er kjærligheten",
                    ),
                )
        row_counter += 1

# Commit the changes and close the connection
conn.commit()

In [14]:

query = "SELECT RadNr, StolNr, Område, SalNavn FROM Billett ORDER BY SalNavn, Område, RadNr DESC, StolNr DESC"

cursor.execute(query)
bought_seats = cursor.fetchall()

# Printing the result
print("Bought Seats:")
print("RadNr | StolNr | Område       | Teatersal")
for seat in bought_seats:
    radnr, stolnr, område, navn = seat
    print(f"{radnr or 'None':5} | {stolnr:6} | {område:12} | {navn}")

Bought Seats:
RadNr | StolNr | Område       | Teatersal
    2 |      2 | Balkong      | Gamle scene
    2 |      1 | Balkong      | Gamle scene
    1 |      7 | Galleri      | Gamle scene
    1 |      6 | Galleri      | Gamle scene
   10 |      8 | Parkett      | Gamle scene
    9 |      8 | Parkett      | Gamle scene
    8 |      8 | Parkett      | Gamle scene
    7 |      9 | Parkett      | Gamle scene
    7 |      8 | Parkett      | Gamle scene
    6 |      8 | Parkett      | Gamle scene
    5 |      9 | Parkett      | Gamle scene
    5 |      8 | Parkett      | Gamle scene
    4 |      9 | Parkett      | Gamle scene
    4 |      8 | Parkett      | Gamle scene
    4 |      5 | Parkett      | Gamle scene
    4 |      4 | Parkett      | Gamle scene
    3 |      9 | Parkett      | Gamle scene
    3 |      5 | Parkett      | Gamle scene
    3 |      4 | Parkett      | Gamle scene
    2 |      9 | Parkett      | Gamle scene
    2 |      3 | Parkett      | Gamle scene
    2 |      2 | Parkett      | Gamle scene
    2 |      1 | Parkett      | Gamle scene
    1 |      9 | Parkett      | Gamle scene
    1 |      8 | Parkett      | Gamle scene
    1 |      2 | Parkett      | Gamle scene
    1 |      1 | Parkett      | Gamle scene

In [15]:
# Define the seating pattern for the tickets to be purchased
seating_pattern = [
    "000000000000000000xxxx000000",
    "000000000000000000xxxx000000",
    "0000000000100000000000000000",
    "0000011100100000000000000000",
    "0000000000100000000000000000",
    "1110000000100000000000000000",
    "0000000000000000000000000000",
    "0000000000000000000000000000",
    "0000000000000000000000000000",
    "0000000000000000000000000000",
    "0000000000000000000000000000",
    "0000000000001100000000000000",
    "0000000000000110000000000000",
    "0000000000000011000000000000",
    "0000000000000001100000000000",
    "0000000001111111111000000000",
    "1111111111111111111000000000",
    "0000000000111111111111111111",
]


# Identify the seats to be purchased
def find_seats_to_purchase(seating_pattern):
    seats_to_purchase = []

    seating_pattern = seating_pattern[::-1]
    for row_number, row in enumerate(seating_pattern, start=1):
        for seat_number, seat in enumerate(row, start=1):
            seatnumber_sum = seat_number + (row_number - 1) * 28
            if seat == "1":
                seats_to_purchase.append((row_number, seatnumber_sum))
    return seats_to_purchase


# Seats to be purchased
seats_to_purchase = find_seats_to_purchase(seating_pattern)
print(seats_to_purchase)

performance_date = "2024-02-03"
get_ForestillingNummer = "SELECT Nummer FROM Forestilling WHERE teaterstykkeNavn = 'Kongsemnene' AND dato = ?"
cursor.execute(get_ForestillingNummer, (performance_date,))
forestilling_id = cursor.fetchone()[0]

print(forestilling_id)

# create billettkjøp
cursor.execute(
    "INSERT INTO Billettkjøp (TeaterStykkeNavn, ForestillingNummer, Nummer, MobilNummer, dato, tid) VALUES (?, ?,?,?, ?, ?)",
    ("Kongsemnene", forestilling_id, 1, "1234567890", "2024-02-03", "19:00"),
)


# Insert tickets for each selected seat
forestilling_id = (
    1  # Assuming an ID for the 'Forestilling'. Replace with the correct ID.
)

for seat in seats_to_purchase:
    radnr, stolnr = seat
    omrade = "Hovedområde" if radnr <= len(seating_pattern) else "Galleri"
    sal_navn = "Hovedscenen"
    billettype = "Ordinær"

    # Prepare the SQL command
    sql_command = """
        INSERT INTO Billett 
        (RadNr, StolNr, Område, salNavn, ForestillingNummer, BillettKjøpNummer, Billettype, TeaterStykkeNavn)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?)
    """
    values = (
        radnr,
        stolnr,
        omrade,
        sal_navn,
        forestilling_id,
        1,
        billettype,
        "Kongsemnene",
    )

    # Execute the command
    cursor.execute(sql_command, values)

# # Commit the changes
conn.commit()

[(1, 11), (1, 12), (1, 13), (1, 14), (1, 15), (1, 16), (1, 17), (1, 18), (1, 19), (1, 20), (1, 21), (1, 22), (1, 23), (1, 24), (1, 25), (1, 26), (1, 27), (1, 28), (2, 29), (2, 30), (2, 31), (2, 32), (2, 33), (2, 34), (2, 35), (2, 36), (2, 37), (2, 38), (2, 39), (2, 40), (2, 41), (2, 42), (2, 43), (2, 44), (2, 45), (2, 46), (2, 47), (3, 66), (3, 67), (3, 68), (3, 69), (3, 70), (3, 71), (3, 72), (3, 73), (3, 74), (3, 75), (4, 100), (4, 101), (5, 127), (5, 128), (6, 154), (6, 155), (7, 181), (7, 182), (13, 337), (13, 338), (13, 339), (13, 347), (14, 375), (15, 398), (15, 399), (15, 400), (15, 403), (16, 431)]
3

In [16]:
query = "SELECT RadNr, StolNr, Område, SalNavn FROM Billett where TeaterStykkeNavn = 'Kongsemnene' ORDER BY SalNavn, Område, RadNr DESC, StolNr DESC"

cursor.execute(query)
bought_seats = cursor.fetchall()

# Printing the result
print("Bought Seats:")
print("RadNr | StolNr | Område       | Teatersal")
for seat in bought_seats:
    radnr, stolnr, område, navn = seat
    print(f"{radnr or 'None':5} | {stolnr:6} | {område:12} | {navn}")

Bought Seats:
RadNr | StolNr | Område       | Teatersal
   16 |    431 | Hovedområde  | Hovedscenen
   15 |    403 | Hovedområde  | Hovedscenen
   15 |    400 | Hovedområde  | Hovedscenen
   15 |    399 | Hovedområde  | Hovedscenen
   15 |    398 | Hovedområde  | Hovedscenen
   14 |    375 | Hovedområde  | Hovedscenen
   13 |    347 | Hovedområde  | Hovedscenen
   13 |    339 | Hovedområde  | Hovedscenen
   13 |    338 | Hovedområde  | Hovedscenen
   13 |    337 | Hovedområde  | Hovedscenen
    7 |    182 | Hovedområde  | Hovedscenen
    7 |    181 | Hovedområde  | Hovedscenen
    6 |    155 | Hovedområde  | Hovedscenen
    6 |    154 | Hovedområde  | Hovedscenen
    5 |    128 | Hovedområde  | Hovedscenen
    5 |    127 | Hovedområde  | Hovedscenen
    4 |    101 | Hovedområde  | Hovedscenen
    4 |    100 | Hovedområde  | Hovedscenen
    3 |     75 | Hovedområde  | Hovedscenen
    3 |     74 | Hovedområde  | Hovedscenen
    3 |     73 | Hovedområde  | Hovedscenen
    3 |     72 | Hovedområde  | Hovedscenen
    3 |     71 | Hovedområde  | Hovedscenen
    3 |     70 | Hovedområde  | Hovedscenen
    3 |     69 | Hovedområde  | Hovedscenen
    3 |     68 | Hovedområde  | Hovedscenen
    3 |     67 | Hovedområde  | Hovedscenen
    3 |     66 | Hovedområde  | Hovedscenen
    2 |     47 | Hovedområde  | Hovedscenen
    2 |     46 | Hovedområde  | Hovedscenen
    2 |     45 | Hovedområde  | Hovedscenen
    2 |     44 | Hovedområde  | Hovedscenen
    2 |     43 | Hovedområde  | Hovedscenen
    2 |     42 | Hovedområde  | Hovedscenen
    2 |     41 | Hovedområde  | Hovedscenen
    2 |     40 | Hovedområde  | Hovedscenen
    2 |     39 | Hovedområde  | Hovedscenen
    2 |     38 | Hovedområde  | Hovedscenen
    2 |     37 | Hovedområde  | Hovedscenen
    2 |     36 | Hovedområde  | Hovedscenen
    2 |     35 | Hovedområde  | Hovedscenen
    2 |     34 | Hovedområde  | Hovedscenen
    2 |     33 | Hovedområde  | Hovedscenen
    2 |     32 | Hovedområde  | Hovedscenen
    2 |     31 | Hovedområde  | Hovedscenen
    2 |     30 | Hovedområde  | Hovedscenen
    2 |     29 | Hovedområde  | Hovedscenen
    1 |     28 | Hovedområde  | Hovedscenen
    1 |     27 | Hovedområde  | Hovedscenen
    1 |     26 | Hovedområde  | Hovedscenen
    1 |     25 | Hovedområde  | Hovedscenen
    1 |     24 | Hovedområde  | Hovedscenen
    1 |     23 | Hovedområde  | Hovedscenen
    1 |     22 | Hovedområde  | Hovedscenen
    1 |     21 | Hovedområde  | Hovedscenen
    1 |     20 | Hovedområde  | Hovedscenen
    1 |     19 | Hovedområde  | Hovedscenen
    1 |     18 | Hovedområde  | Hovedscenen
    1 |     17 | Hovedområde  | Hovedscenen
    1 |     16 | Hovedområde  | Hovedscenen
    1 |     15 | Hovedområde  | Hovedscenen
    1 |     14 | Hovedområde  | Hovedscenen
    1 |     13 | Hovedområde  | Hovedscenen
    1 |     12 | Hovedområde  | Hovedscenen
    1 |     11 | Hovedområde  | Hovedscenen

# Resten av oppgave 1
Vi tok først det som var nødvendig for å kjøpe billetter og her kommer alle skuespiller, akter, roller og ansatte.

In [17]:
# cursor.execute("INSERT INTO Akt (teaterstykkeNavn, nummer, aktnavn) VALUES ('Kongsemnene', 2, '2',)")
# insert act 1 to 5

acts = [
    ("Kongsemnene", 1, "1"),
    ("Kongsemnene", 2, "2"),
    ("Kongsemnene", 3, "3"),
    ("Kongsemnene", 4, "4"),
    ("Kongsemnene", 5, "5"),
]
cursor.executemany(
    "INSERT INTO Akt (teaterstykkeNavn, nummer, aktnavn) VALUES (?, ?, ?)", acts
)

rols = [
("Håkon Håkonssønn",),
("Dagfinn Bonde",),
("Jatgeir Skald",),
("Sigrid",),
("Ingeborg",),
("Guttorm Ingesson",),
("Skule Jarl",),
("Inga frå Vartejg",),
("Paal Flida",),
("Gregorius Jonsson",),
("Margrete",),
("Biskop Nikolas",),
("Peter",),
("Trønder",),
("Bård Bratte",),
]
cursor.executemany(
    "INSERT INTO Rolle (teaterstykkeNavn, navn) VALUES ('Kongsemnene', ?)", rols
)

In [18]:

# SQL query for inserting data into RollePaAkt table
sql_query = """
INSERT INTO RollePaAkt (teaterstykkeNavn, Actnummer, rolleNavn)
VALUES
('Kongsemnene', 1, 'Håkon Håkonson'),
('Kongsemnene', 2, 'Håkon Håkonson'),
('Kongsemnene', 3, 'Håkon Håkonson'),
('Kongsemnene', 4, 'Håkon Håkonson'),
('Kongsemnene', 5, 'Håkon Håkonson'),

('Kongsemnene', 1, 'Dagfinn Bonde'),
('Kongsemnene', 2, 'Dagfinn Bonde'),
('Kongsemnene', 3, 'Dagfinn Bonde'),
('Kongsemnene', 4, 'Dagfinn Bonde'),
('Kongsemnene', 5, 'Dagfinn Bonde'),

('Kongsemnene', 4, 'Jatgeir Skald'),

('Kongsemnene', 1, 'Sigrid'),
('Kongsemnene', 2, 'Sigrid'),
('Kongsemnene', 5, 'Sigrid'),

('Kongsemnene', 4, 'Ingeborg'),

('Kongsemnene', 1, 'Guttorm Ingesson'),

('Kongsemnene', 1, 'Skule Jarl'),
('Kongsemnene', 2, 'Skule Jarl'),
('Kongsemnene', 3, 'Skule Jarl'),
('Kongsemnene', 4, 'Skule Jarl'),
('Kongsemnene', 5, 'Skule Jarl'),

('Kongsemnene', 1, 'Inga fra Vartejg'),
('Kongsemnene', 3, 'Inga fra Vartejg'),

('Kongsemnene', 1, 'Paal Flida'),
('Kongsemnene', 2, 'Paal Flida'),
('Kongsemnene', 3, 'Paal Flida'),
('Kongsemnene', 4, 'Paal Flida'),
('Kongsemnene', 5, 'Paal Flida'),

('Kongsemnene', 1, 'Fru Ragnhild'),
('Kongsemnene', 5, 'Fru Ragnhild'),

('Kongsemnene', 1, 'Gregorius Jonsson'),
('Kongsemnene', 2, 'Gregorius Jonsson'),
('Kongsemnene', 3, 'Gregorius Jonsson'),
('Kongsemnene', 4, 'Gregorius Jonsson'),
('Kongsemnene', 5, 'Gregorius Jonsson'),

('Kongsemnene', 1, 'Margrete'),
('Kongsemnene', 2, 'Margrete'),
('Kongsemnene', 3, 'Margrete'),
('Kongsemnene', 4, 'Margrete'),
('Kongsemnene', 5, 'Margrete'),

('Kongsemnene', 1, 'Biskop Nikolas'),
('Kongsemnene', 2, 'Biskop Nikolas'),
('Kongsemnene', 3, 'Biskop Nikolas'),

('Kongsemnene', 3, 'Peter'),
('Kongsemnene', 4, 'Peter'),
('Kongsemnene', 5, 'Peter');
"""

cursor.executescript(sql_query)

In [19]:

# Insert values into Ansatt table
ansatt_data = [
    (1, 'epost1@example.com', 'Arturo Scotti', 'Active'),
    (2, 'epost2@example.com', 'Ingunn Beate Strige Øyen', 'Active'),
    (3, 'epost3@example.com', 'Hans Petter Nilsen', 'Active'),
    (4, 'epost4@example.com', 'Madeleine Brandtzæg Nilsen', 'Active'),
    (5, 'epost5@example.com', 'Synnøve Fossum Eriksen', 'Active'),
    (6, 'epost6@example.com', 'Emma Caroline Deichmann', 'Active'),
    (7, 'epost7@example.com', 'Thomas Jensen Takyi', 'Active'),
    (8, 'epost8@example.com', 'Per Bogstad Gulliksen', 'Active'),
    (9, 'epost9@example.com', 'Isak Holmen Sørensen', 'Active'),
    (10, 'epost10@example.com', 'Fabian Heidelberg Lunde', 'Active'),
    (11, 'epost11@example.com', 'Emil Olafsson', 'Active'),
    (12, 'epost12@example.com', 'Snorre Ryen Tøndel', 'Active'),
]

# Insert data into Ansatt table
cursor.executemany("""
    INSERT INTO Ansatt (ansattId, epost, navn, ansattstatus)
    VALUES (?, ?, ?, ?)
""", ansatt_data)

# Commit the changes to Ansatt table
conn.commit()

skuespiller_data = [
    (1, 'Kongsemnene', 'Håkon Håkonson'),
    (2, 'Kongsemnene', 'Inga fra Vartejg'),
    (3, 'Kongsemnene', 'Skule Jarl'),
    (4, 'Kongsemnene', 'Fru Ragnhild'),
    (5, 'Kongsemnene', 'Margrete'),
    (6, 'Kongsemnene', 'Sigrid'),
    (6, 'Kongsemnene', 'Ingeborg'),
    (7, 'Kongsemnene', 'Biskop Nikolas'),
    (8, 'Kongsemnene', 'Gregorius Jonsson'),
    (9, 'Kongsemnene', 'Paal Flida'),
    (9, 'Kongsemnene', 'Trønder'),
    (10, 'Kongsemnene', 'Baard Bratte'),
    (10, 'Kongsemnene', 'Trønder'),
    (11, 'Kongsemnene', 'Jatgeir Skald'),
    (11, 'Kongsemnene', 'Dagfinn Bonde'),
    (12, 'Kongsemnene', 'Peter'),
]

# Insert data into Skuespiller table
cursor.executemany("""
    INSERT INTO Skuespiller (Identifikator, TeaterStykkeNavn, RolleNavn)
    VALUES (?, ?, ?)
""", skuespiller_data)

# commit
conn.commit()

In [20]:
# lag en sessong som heter vinter 2024
cursor.execute("INSERT INTO Sesong (navn, startdato, sluttdato) VALUES ('Vinter 2024', '2024-01-01', '2024-03-31')")

# lag oppstilling mellom gamle scene og storst av alt er kjærligheten 
cursor.execute("INSERT INTO Oppstilling (SesongId, TeaterStykkeNavn, SalNavn) VALUES (1, 'Størst av alt er kjærligheten', 'Gamle scene')")

# lag en oppstillig for kongsemnene på hovedscenen
cursor.execute("INSERT INTO Oppstilling (SesongId, TeaterStykkeNavn, SalNavn) VALUES (1, 'Kongsemnene', 'Hovedscenen')")
# commit
conn.commit()

# Oppgave 3
Her skal du kjøpe 9 voksenbilletter til forestillingen for Størst av alt er
kjærligheten 3. februar, hvor det er 9 ledige billetter og hvor stolene er på
samme rad. Stolene trenger ikke være ved siden av hverandre. Vi ønsker å få
summert hva det koster å kjøpe disse billettene,

In [21]:
cursor.execute("SELECT * FROM Kundeprofil")
customer = cursor.fetchone()
customer

date = "2024-02-03"

query = "SELECT Nummer FROM Forestilling WHERE teaterstykkeNavn = 'Størst av alt er kjærligheten' AND dato = ?"
cursor.execute(query, (date,))
ForestillingNummer = cursor.fetchone()[0]

# billettkjøp
cursor.execute(
    "INSERT INTO Billettkjøp (TeaterStykkeNavn,ForestillingNummer, Nummer, Mobilnummer, dato, tid) VALUES (?, ?,?,?, ?, ?)",
    (
        "Størst av alt er kjærligheten",
        ForestillingNummer,
        2,
        "1234567890",
        date,
        "18:30",
    ),
)
conn.commit()

# billett
plasser = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# kjøp 9 plasser rad 1  parkett
for plass in plasser:
    cursor.execute(
        "INSERT INTO Billett (RadNr, StolNr, Område, salNavn, ForestillingNummer, BillettKjøpNummer, Billettype, TeaterStykkeNavn ) VALUES (?, ?, ?, ?, ?, ?, ?, ?)",
        (
            2,
            plass,
            "Galleri",
            "Gamle scene",
            ForestillingNummer,
            2,
            "Ordinær",
            "Størst av alt er kjærligheten",
        ),
    )
conn.commit()

In [22]:
# get ticket for forestilling 6 and billettkjøp 2 and join them with ticket type and sum the price

query = """
SELECT SUM(BilletType.pris)
FROM Billett
JOIN BilletType
ON Billett.Billettype = BilletType.type
AND Billett.TeaterStykkeNavn = BilletType.TeaterStykkeNavn
WHERE Billett.ForestillingNummer = ?
AND Billett.BillettKjøpNummer = 2
"""
cursor.execute(query, (ForestillingNummer, ))
tickets = cursor.fetchall()
print(f'Billettene koster {tickets[0][0]} kr')

Billettene koster 3150 kr

# Oppgave 4
Her skal du implementere et Pythonprogram (med bruk av SQL) som tar inn
en dato og skriver ut hvilke forestillinger som finnes på denne datoen og lister
opp hvor mange billetter (dvs. stoler) som er solgt. Ta også med forestillinger
hvor det ikke er solgt noen billetter.

In [23]:

def hent_forestilling_med_dato(date):
    # get forestilling with date and number of tickets sold
    query = """
    SELECT 
    F.TeaterStykkeNavn,
    F.Nummer as ForestillingNummer,
    F.Dato,
    F.Tid,
    count(B.ForestillingNummer) as AntallBilletter
    FROM Forestilling F
    LEFT JOIN Billett B
    ON F.Nummer = B.ForestillingNummer
    AND F.TeaterStykkeNavn = B.TeaterStykkeNavn
    Group BY F.TeaterStykkeNavn, F.Nummer
    HAVING F.Dato = ?
    """
    
    cursor.execute(query, (date,))
    # cursor.execute(query)
    forestillinger = cursor.fetchall()
    headers = [description[0] for description in cursor.description]
    return forestillinger, headers


# for forestilling in hent_forestilling_med_dato("2024-02-03"):
# print(f'{forestilling[1]} går den {forestilling[2]} kl {forestilling[3]}')

# forestillings_dato = input("Oppagve 4: Skriv inn datoen for forestillingen (YYYY-MM-DD): ")
forestillings_dato = "2024-02-03"
forestilling_data, headers = hent_forestilling_med_dato(forestillings_dato)
print(tabulate(forestilling_data, headers=headers , tablefmt="grid"))

+-------------------------------+----------------------+------------+-------+-------------------+
| TeaterStykkeNavn              |   ForestillingNummer | Dato       | Tid   |   AntallBilletter |
+===============================+======================+============+=======+===================+
| Størst av alt er kjærligheten |                    1 | 2024-02-03 | 18:30 |                36 |
+-------------------------------+----------------------+------------+-------+-------------------+
| Kongsemnene                   |                    3 | 2024-02-03 | 19:00 |                 0 |
+-------------------------------+----------------------+------------+-------+-------------------+

# oppgave 5
Vi ønsker å lage et query i SQL som finner hvilke (navn på) skuespillere som
opptrer i de forskjellige teaterstykkene. Skriv ut navn på teaterstykke, navn på
skuespiller og rolle.

In [24]:
def hent_skuespillere_og_roller():
    query = """
    SELECT Rolle.teaterstykkeNavn, Ansatt.navn, Rolle.navn
    FROM Skuespiller
    JOIN Rolle
    ON Skuespiller.RolleNavn = Rolle.navn
    JOIN Ansatt on Skuespiller.Identifikator = ansatt.ansattId
    AND Skuespiller.TeaterStykkeNavn = Rolle.teaterstykkeNavn
    """
    cursor.execute(query)
    skuespillere = cursor.fetchall()
    return skuespillere

Roller = hent_skuespillere_og_roller()
print(tabulate(Roller, headers= ["Teaterstykke", "Skuespiller", "Rolle"], tablefmt="grid"))

+----------------+-------------------------+-------------------+
| Teaterstykke   | Skuespiller             | Rolle             |
+================+=========================+===================+
| Kongsemnene    | Hans Petter Nilsen      | Skule Jarl        |
+----------------+-------------------------+-------------------+
| Kongsemnene    | Synnøve Fossum Eriksen  | Margrete          |
+----------------+-------------------------+-------------------+
| Kongsemnene    | Emma Caroline Deichmann | Sigrid            |
+----------------+-------------------------+-------------------+
| Kongsemnene    | Emma Caroline Deichmann | Ingeborg          |
+----------------+-------------------------+-------------------+
| Kongsemnene    | Thomas Jensen Takyi     | Biskop Nikolas    |
+----------------+-------------------------+-------------------+
| Kongsemnene    | Per Bogstad Gulliksen   | Gregorius Jonsson |
+----------------+-------------------------+-------------------+
| Kongsemnene    | Isak Holmen Sørensen    | Paal Flida        |
+----------------+-------------------------+-------------------+
| Kongsemnene    | Isak Holmen Sørensen    | Trønder           |
+----------------+-------------------------+-------------------+
| Kongsemnene    | Fabian Heidelberg Lunde | Trønder           |
+----------------+-------------------------+-------------------+
| Kongsemnene    | Emil Olafsson           | Jatgeir Skald     |
+----------------+-------------------------+-------------------+
| Kongsemnene    | Emil Olafsson           | Dagfinn Bonde     |
+----------------+-------------------------+-------------------+
| Kongsemnene    | Snorre Ryen Tøndel      | Peter             |
+----------------+-------------------------+-------------------+

# oppgave 6
Vi ønsker å lage et query i SQL som finner hvilke forestillinger som har solgt
best. Skriv ut navn på forestilling og dato og antall solgte plasser sortert på
antall plasser i synkende rekkefølge.

In [25]:

# hent alle billetter join med billetttype og groupe by ForestillingNummer og tell antall
# det er viktig at vi først grupere etter teaterstykke og forestillingnummer og så teller antall 
# sql gruperer etter den etter tur. Vi vil ikke grupere forestillinger med samme nummer til forskjellige teaterstykker
query = """
SELECT Forestilling.TeaterStykkeNavn, Forestilling.dato , COUNT(Billett.ForestillingNummer) as 'Antall solgte plasser'
FROM Billett
JOIN BilletType ON Billett.Billettype = BilletType.type AND Billett.TeaterStykkeNavn = BilletType.TeaterStykkeNavn
JOIN Forestilling ON (Billett.ForestillingNummer = Forestilling.Nummer AND Billett.TeaterStykkeNavn = Forestilling.TeaterStykkeNavn)
Group by Billett.TeaterStykkeNavn, Billett.ForestillingNummer
"""

cursor.execute(query)
forestillinger = cursor.fetchall()
print(tabulate(forestillinger, headers= ["Teaterstykke", "Dato", "Antall solgte plasser"], tablefmt="grid"))

+-------------------------------+------------+-------------------------+
| Teaterstykke                  | Dato       |   Antall solgte plasser |
+===============================+============+=========================+
| Kongsemnene                   | 2024-02-01 |                      65 |
+-------------------------------+------------+-------------------------+
| Størst av alt er kjærligheten | 2024-02-03 |                      36 |
+-------------------------------+------------+-------------------------+

# oppgave 7
Du skal lage et Pythonprogram (og SQL) som tar et skuespillernavn og finner
hvilke skuespilllere de har spilt med i samme akt. Skriv ut navn på begge og
hvilket skuespill det skjedde.

In [26]:
# Du skal lage et Pythonprogram (og SQL) som tar et skuespillernavn og finner
# hvilke skuespilllere de har spilt med i samme akt. Skriv ut navn på begge og
# hvilket skuespill det skjedde.
# jeg anter at det menes act og teaterstykke når det står skuespill

# finn alle akter som skuespilleren har spilt i
def hent_akter(skuespiller):
    query = """
    SELECT DISTINCT RPA.Actnummer, S1.TeaterStykkeNavn
    FROM Skuespiller S1
    JOIN RollePaAkt RPA ON S1.TeaterStykkeNavn = RPA.teaterstykkeNavn AND S1.RolleNavn = RPA.rolleNavn
    JOIN Ansatt A1 on S1.Identifikator = A1.ansattId
    WHERE A1.navn = ?
    """
    cursor.execute(query, (skuespiller,))
    akter = cursor.fetchall()
    return akter


def hent_skuespillere_i_samme_akt(skuespiller):
    akter = hent_akter(skuespiller)
    print(tabulate
          (akter, headers= ["Akt", "Teaterstykke"], tablefmt="grid"))
    query = """
    SELECT
        S1.teaterstykkenavn,
        S2.navn as Actor,
        S2.RolleNavn,
        A1.navn as CoActor,
        S1.rolleNavn,
        RPA.Actnummer
    FROM
        Skuespiller S1
        join Ansatt A1 on S1.Identifikator = A1.ansattId
        JOIN RollePaAkt RPA ON S1.TeaterStykkeNavn = RPA.teaterstykkeNavn AND S1.RolleNavn = RPA.rolleNavn
        JOIN (
            SELECT S2.TeaterStykkeNavn, S2.RolleNavn, A2.navn, RPA2.Actnummer, A2.AnsattId
            FROM Skuespiller S2
            JOIN Ansatt A2 on S2.Identifikator = A2.ansattId
            JOIN RollePaAkt RPA2 ON S2.TeaterStykkeNavn = RPA2.teaterstykkeNavn AND S2.RolleNavn = RPA2.rolleNavn
            WHERE A2.navn = ?
        ) as S2
        ON S1.TeaterStykkeNavn = S2.TeaterStykkeNavn AND RPA.Actnummer = S2.Actnummer And A1.AnsattId != S2.AnsattId
        order by S1.rolleNavn

    """
    # cursor.execute(query, (skuespiller,))
    cursor.execute(query, (skuespiller,))
    
    # print column names
    print()
    skuespillere = cursor.fetchall()
    return skuespillere

# get all actors names 
query = "SELECT navn FROM Ansatt"
cursor.execute(query)
actors = cursor.fetchall()

# skuespillere = hent_skuespillere_i_samme_akt("Thomas Jensen Takyi")
skuespillere = hent_skuespillere_i_samme_akt("Ingunn Beate Strige Øyen")
print("––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––")

headers = [description[0] for description in cursor.description]
print(tabulate(skuespillere, headers=headers, tablefmt="grid"))
# print(tabulate(skuespillere, headers=["Skuespiller 1", "Skuespiller 2", "Teaterstykke", "Akt"], tablefmt="grid"))

+-------+----------------+
|   Akt | Teaterstykke   |
+=======+================+
|     1 | Kongsemnene    |
+-------+----------------+
|     3 | Kongsemnene    |
+-------+----------------+

––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
+--------------------+--------------------------+------------------+----------------------------+-------------------+-------------+
| TeaterStykkeNavn   | Actor                    | RolleNavn        | CoActor                    | RolleNavn         |   Actnummer |
+====================+==========================+==================+============================+===================+=============+
| Kongsemnene        | Ingunn Beate Strige Øyen | Inga fra Vartejg | Thomas Jensen Takyi        | Biskop Nikolas    |           1 |
+--------------------+--------------------------+------------------+----------------------------+-------------------+-------------+
| Kongsemnene        | Ingunn Beate Strige Øyen | Inga fra Vartejg | Thomas Jensen Takyi        | Biskop Nikolas    |           3 |
+--------------------+--------------------------+------------------+----------------------------+-------------------+-------------+
| Kongsemnene        | Ingunn Beate Strige Øyen | Inga fra Vartejg | Emil Olafsson              | Dagfinn Bonde     |           1 |
+--------------------+--------------------------+------------------+----------------------------+-------------------+-------------+
| Kongsemnene        | Ingunn Beate Strige Øyen | Inga fra Vartejg | Emil Olafsson              | Dagfinn Bonde     |           3 |
+--------------------+--------------------------+------------------+----------------------------+-------------------+-------------+
| Kongsemnene        | Ingunn Beate Strige Øyen | Inga fra Vartejg | Madeleine Brandtzæg Nilsen | Fru Ragnhild      |           1 |
+--------------------+--------------------------+------------------+----------------------------+-------------------+-------------+
| Kongsemnene        | Ingunn Beate Strige Øyen | Inga fra Vartejg | Per Bogstad Gulliksen      | Gregorius Jonsson |           1 |
+--------------------+--------------------------+------------------+----------------------------+-------------------+-------------+
| Kongsemnene        | Ingunn Beate Strige Øyen | Inga fra Vartejg | Per Bogstad Gulliksen      | Gregorius Jonsson |           3 |
+--------------------+--------------------------+------------------+----------------------------+-------------------+-------------+
| Kongsemnene        | Ingunn Beate Strige Øyen | Inga fra Vartejg | Arturo Scotti              | Håkon Håkonson    |           1 |
+--------------------+--------------------------+------------------+----------------------------+-------------------+-------------+
| Kongsemnene        | Ingunn Beate Strige Øyen | Inga fra Vartejg | Arturo Scotti              | Håkon Håkonson    |           3 |
+--------------------+--------------------------+------------------+----------------------------+-------------------+-------------+
| Kongsemnene        | Ingunn Beate Strige Øyen | Inga fra Vartejg | Synnøve Fossum Eriksen     | Margrete          |           1 |
+--------------------+--------------------------+------------------+----------------------------+-------------------+-------------+
| Kongsemnene        | Ingunn Beate Strige Øyen | Inga fra Vartejg | Synnøve Fossum Eriksen     | Margrete          |           3 |
+--------------------+--------------------------+------------------+----------------------------+-------------------+-------------+
| Kongsemnene        | Ingunn Beate Strige Øyen | Inga fra Vartejg | Isak Holmen Sørensen       | Paal Flida        |           1 |
+--------------------+--------------------------+------------------+----------------------------+-------------------+-------------+
| Kongsemnene        | Ingunn Beate Strige Øyen | Inga fra Vartejg | Isak Holmen Sørensen       | Paal Flida        |           3 |
+--------------------+--------------------------+------------------+----------------------------+-------------------+-------------+
| Kongsemnene        | Ingunn Beate Strige Øyen | Inga fra Vartejg | Snorre Ryen Tøndel         | Peter             |           3 |
+--------------------+--------------------------+------------------+----------------------------+-------------------+-------------+
| Kongsemnene        | Ingunn Beate Strige Øyen | Inga fra Vartejg | Emma Caroline Deichmann    | Sigrid            |           1 |
+--------------------+--------------------------+------------------+----------------------------+-------------------+-------------+
| Kongsemnene        | Ingunn Beate Strige Øyen | Inga fra Vartejg | Hans Petter Nilsen         | Skule Jarl        |           1 |
+--------------------+--------------------------+------------------+----------------------------+-------------------+-------------+
| Kongsemnene        | Ingunn Beate Strige Øyen | Inga fra Vartejg | Hans Petter Nilsen         | Skule Jarl        |           3 |
+--------------------+--------------------------+------------------+----------------------------+-------------------+-------------+